html{
    background-color: rgb(225, 225, 225);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}
body.dark {
    background-color: #292c35;
}