@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html{
    background-color: rgb(239, 247, 255, 1);
    font-family: 'Noto Sans', sans-serif;
}
body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    margin: 0;
    transition: background 0.2s linear;
    width: 100%;
}
body.dark {
    background-color: #292c35;
}
